.btn-hover {
    /* width: 200px; */
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    /* margin: 20px; */
    /* height: 55px; */
    text-align: center;
    border: none;
    background-size: 300% 100%;

    /* border-radius: 50px; */
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: white;;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    /* box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75); */
}

.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    color:white;
}

.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    color: white;
}

.btn-hover.color-11 {
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
    color: white;
}

.btn-linear-green {
    border: 1px solid #0ba360;
    color: #0ba360;
}

.btn-linear-green:hover {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #2bb673);
    color: white;
    border: none;
}

.blue-gradient {
    background: linear-gradient(to bottom, rgba(100, 181, 246, 1) 0%, rgba(33, 149, 243, 1) 45%, rgba(25, 117, 210, 1) 71%, rgba(13, 72, 161, 1) 100%);
}

.white {
    color: white;
}

.selected {
    background-color: red;
}


.splash {
    background-image: url('./images/splash.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.text-shadow {
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.fullHeight {
    height:100vh;
}


